.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  line-height: 1; 
}
.buttonTheme--primary {
  color: #FFFFFF;
  background-color: #0451DD;
  border: #ABC5F3 solid 1px;
}

.buttonTheme--primary:hover {
  color: #FFFFFF;
  background-color: #02399D;
  border: #02399D solid 1px;
}

.buttonTheme--primary:active {
  color: #FFFFFF;
  background-color: #0451DD;
  border: #ABC5F3 solid 1px;
}

.buttonTheme--secondary {
  color: #FFFFFF;  
  background-color: #5C5C5C;  
  border: #ABC5F3 solid 1px;
}

.buttonTheme--secondary:hover {
  color: #FFFFFF;  
  background-color: #3D3D3D; 
  border: #3D3D3D solid 1px; 
}

.buttonTheme--secondary:active {
  color: #FFFFFF;  
  background-color: #5C5C5C;  
  border: #ABC5F3 solid 1px;
}

.buttonTheme--tertiary {
  color: #0451DD;  
  background-color: transparent; 
  border: #ABC5F3 solid 1px;  
}

.buttonTheme--tertiary:hover {
  color: #FFFFFF;  
  background-color: #0451DD; 
  border: #0451DD solid 1px;
}

.buttonTheme--tertiary:active {
  color: #0451DD;  
  background-color: transparent; 
  border: #ABC5F3 solid 1px;  
}

.buttonTheme--danger {
  color: #FFFFFF;
  background-color: #DC3545; 
  border: #F3BBC1 solid 1px;
}

.buttonTheme--danger:hover {
  color: #FFFFFF;
  background-color: #B72C39;  
  border: #B72C39 solid 1px;
}

.buttonTheme--danger:active {
  color: #FFFFFF;
  background-color: #DC3545; 
  border: #F3BBC1 solid 1px;
}

.button--small {
  font-size: 12px;
  padding: 5px 12px 4px 12px;  
}
.button--medium {
  font-size: 14px;
  padding: 8px 12px 9px 12px; 
}
/* .button--large {
  font-size: 16px;
  padding: 12px 24px;
} */
